body{
    background-color: rgb(8, 7, 87);
    color: rgb(139, 11, 11);
margin:0px
font-family: "Tiny5", sans-serif;
}

header{
    border-bottom: solid 2px purple;
padding: 20px;
font-size: 32px;
color: purple;
}

section{
background-color: rgb(23, 31, 119);
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}