body{
    background-color: rgb(8, 7, 87);
    color: rgb(139, 11, 11);
margin:0px
}

header{
    border-bottom: solid 2px purple;
padding: 20px;
font-size: 32px;
color: purple;
}

section{
background-color: rgb(23, 31, 119);
}